<section class="block_info">
    <div class="fight_block">
        <div class="work_dir">
            <div class="container_2 ">
                <div class="one sett_bg photo_anim wow animate__animated animate__rotateInDownLeft ">
                    <h3>Для кого подходит</h3>
                    <p>На занятиях детям даются упражнения как на общефизическую подготовку, так и на специальную
                        физическую
                        подготовку.</p>
                </div>
                <div class="two sett_bg photo_anim wow animate__animated animate__zoomInUp">
                    <h3>Новичкам</h3>
                    <p>Распределенные нагрузки по возможностям, найдется место для любого уровня.
                        Подготовка для выступлений на соревнованиях</p>
                </div>
                <div class="free sett_bg photo_anim">
                    <h3>Профессионалам</h3>
                    <p>Имеются индивидуальные тренировки и программы
                        Подготовка для выступлений на соревнованиях</p>
                </div>
                <div class="fhor sett_bg photo_anim wow animate__animated animate__rotateInDownRight">
                    <h3>Для самообороны</h3>
                    <p>- Освоение техники тайского бокса
                        - Подготовка для выступлений на соревнованиях
                        - Привести себя в хорошую форму
                        - Новые знания и знакомства.</p>
                </div>
                <div class="five sett_bg photo_anim">
                    <h3>Достижения</h3>
                    <p>Имеются индивидуальные тренировки и программы
                        Подготовка для выступлений на соревнованиях</p>
                </div>
                <div class="six sett_bg photo_anim">
                    <h3>Награды</h3>
                    <p>Распределенные нагрузки по возможностям, найдется место для любого уровня.
                        Подготовка для выступлений на соревнованиях</p>
                </div>
            </div>
        </div>
    </div>
</section>