<style>
    .map-grayscale {
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        width: 50%;
    }
</style>
<section class="map_adn_info">
    <div class="map-grayscale">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A79cf59fcd78a9724318e73f5d7afbc874f209764b533a871d0a611b08e4b8bd5&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="text_map">
        <div class="text_map_work">
            <div class="text_map_work_1">
                <p>Г. Россошь, Воронежской области.
                    Фурманова 18а.</p>
            </div>
            <div class="text_map_work_2">
                <p>Kupchinsky@mail.ru</p>
                <p>+7-800-222-22-22</p>
            </div>
            <div class="text_map_work_3">
                <p>
                    ПН-ВС: с 10:00 до 22:00<br>
                </p>
            </div>
            <div class="text_map_work_4">
                <a href="https://vk.com/atma_muay_thai"><img src="/media/fight/svg/svg_vk.webp" alt="ph"
                                                             class="small_svg" loading="lazy"></a>
                <a href="https://web.telegram.org/a/#538624583"><img src="/media/fight/svg/svg_tg.webp" alt="ph"
                                                                     class="small_svg" loading="lazy"></a>

                <a href="https://wa.me/+79038525767"><img src="/media/fight/svg/svg_wts.webp" alt="ph"
                                                          class="small_svg" loading="lazy"></a>
            </div>
            <a style="font-size: 1vh">По поводу создания сайтов обращаться <a href="https://vk.com/s_k_y_s_t_i">сюда</a></a>
        </div>
    </div>
</section>