<section class="why_not_me">
    <div class="why_not_me_bg">
        <div class="block_why">
            <div class="why_text">
                <h1>О НАС</h1>
                <H2>Стараемся искать компромисс между эффективной, полезной работой и комфортным времяпровождением. Наши
                    тренировки подойдут каждому: и тому, кто просто хочет стать увереннее в себе, подтянуть свою
                    физическую форму, овладеть техниками нанесения ударов руками, ногами, локтями, коленями, клинчем; и
                    тому, кто, помимо описанного выше, хочет занять почетное место на пьедесталах государственных и
                    международных стартах. Всегда стремимся к улучшению себя и наших подопечных. Развиваться физически и
                    развиваться ментально. Мы когда-то полюбили муайтай и теперь заряжаем этим чувством наших
                    учеников.</H2>
            </div>
        </div>
    </div>
</section>