<section class="why_me">
    <div class="why_work_zone">
        <div class="why_one">
            <div class="why_text_img wow animate__animated animate__bounceInLeft  ">
                <img src="/media/fight/svg/11.svg" alt="ph" loading="lazy">
            </div>
            <div class="why_text_title">
                <strong>Месторасположение</strong>
            </div>
            <div class="why_text_description">
                Мы располагаемся в центре города в шаговой доступности от остановок общественного транспорта.

            </div>
        </div>
        <div class="why_two">
            <div class="why_text_img wow animate__animated animate__zoomInUp">
                <img src="/media/fight/svg/22.svg" alt="ph" loading="lazy">
            </div>
            <div class="why_text_title">
                <strong>Оснащение</strong>
            </div>
            <div class="why_text_description">
                Мы располагаем широким спектром спортивного инвентаря, сопутствующего для развития навыков в
                единоборствах: мешки, лапы, пэды, канаты, медболы, гири, гантели, резинки
            </div>
        </div>
        <div class="why_free">
            <div class="why_text_img wow animate__animated animate__bounceInRight">
                <img src="/media/fight/svg/33.svg" alt="ph" loading="lazy">
            </div>
            <div class="why_text_title">
                <strong>Тренерский состав</strong>
            </div>
            <div class="why_text_description">
                Лицензированный тренерский состав Федерации Муайтай Воронежской области
            </div>
        </div>
        <div class="why_foor">
            <div class="why_text_img wow animate__animated animate__bounceInLeft ">
                <img src="/media/fight/svg/55.svg" alt="ph" loading="lazy">
            </div>
            <div class="why_text_title">
                <strong>Тренировки</strong>
            </div>
            <div class="why_text_description">
                Занятия проходят по дисциплине Муайтай (Тайский бокс)
            </div>
        </div>
        <div class="why_five">
            <div class="why_text_img wow animate__animated animate__zoomInDown">
                <img src="/media/fight/svg/44.svg" alt="ph" loading="lazy">
            </div>
            <div class="why_text_title">
                <strong>Активное развитие</strong>
            </div>
            <div class="why_text_description">
                Мы стремимся развиваться, участвуем в соревнованиях. Находимся в составе Федерации Муайтай Воронежской
                области, которая, в свою очередь, состоит в Федерации Муайтай России (IFMA).
            </div>
        </div>
        <div class="why_six">
            <div class="why_text_img wow animate__animated animate__bounceInRight">
                <img src="/media/fight/svg/66.svg" alt="ph" loading="lazy">
            </div>
            <div class="why_text_title">
                <strong> Индивидуальный подход</strong>
            </div>
            <div class="why_text_description">
                Мы подбираем тренировочный процесс для каждого: будь это новичок или боец с опытом. Разделяем группы по
                уровням подготовки. Проводим персональные тренировки.
            </div>
        </div>
    </div>
</section>